@charset "UTF-8";

* {
    background-attachment: fixed;
}

body {
    padding: 0px;
    margin: 0px;
}

div#principal {
    width: 100%;
    max-width: 1454.69px;
    margin: 0 auto;    
}

div#secundaria {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

header { 
    padding: 6.4px 12.8px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    border-bottom-width: 1px;   
    margin: auto;  
}

header> h2 {
        background-color: greenyellow;
        padding: 10px;
        margin: auto;
          
}

div.espaco1 {
    padding: 13px 12.8px;
    height: 487;
    width: 32.97;
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    border-bottom-width: 1px;  
}

main {
    padding: 6.4px 12.8px;
}

td {
    padding: 0px 0px 0px 23.04px;
    border-left-style: dotted;
    border-left-color: rgb(214,214,214);
    border-left-width: 1px;
    height: 378.375;
    width: 121.562;
    background-color: yellow;
}

a > h2 {
    display: inline-block;
    margin: auto ;
    text-align: right;

}

div.espaco2 {
    padding: 13px 12.8px;
    height: 487;
    width: 32.97;
    background-color: blue;


}

footer {
    padding: 6.4px 12.8px;
    height: 429;
    width: 90.53;
}

p#rodape {
    text-align: right;
}

img#whatsapp {
    width: 18px;
    height: 17px;
}
